.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: orange;
    font-size: larger;
    font-family: sans-serif;
    border-radius: 10px;
}
#container{
    width: 100%;
    height: 150vh;
    /* display: flex; */
      
}
.section-two,.section-three,.section-four,.section-five,.section-six,.section-seven{
   /* border: 1px solid black;    */
   /* border-radius: 10px; */
   background-color: #f8f8f8;
   justify-content: center;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   padding: 50px 0;
}
#hero{
    background-color: #f8f8f8;
    padding: 50px 0;
    text-align: center;
    color: #333;
}
.logo-two{
    margin-top: 10px;
    padding-right: 99px;
    /* display: flex; */
    width: 95%;
    height: 60%;
    display: flex;
    /* border: 1px solid red; */
}
.logo{
    margin-top: 15px;
    padding-right: 90px;
    /* display: flex; */
    width: 90%;
    height: 60%;
}
.socials{
    background-color: #333;
}
.socials :hover{
    color: red;
}
.footer{
    background-color: #333;
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
}


@media (max-width:767px){
    #container{
        align-items: center;
         max-width: 97%;
         height: 200px
    } 
    main{
        font-size: 15px;
    }
    img{
        max-width: 120%;
        height: 120px;
    }
    .footer{
        max-height: 150px;
    }
    section{
        width: 99%;
        height: 300px;
    }
    .logo{
       margin-left: 90px;
       height:30px;
        width:50px;
    }
}

@media (min-width:768px){
    main{
        max-height: 220px;
        font-size: 15px;
    }
    .logo{
        margin-left: 50px;
    }
    img{
        max-width: 100%;
    }
} 
