.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    color: orange;
    font-size: larger;
    font-family: sans-serif;
    border-radius: 10px;
}
#container{
    width: 100%;
    height: 150vh;
    /* display: flex; */  
}

.section-two,.section-three,.section-four,.section-five,.section-six,.section-seven{
   /* border: 1px solid black;    */
   /* border-radius: 10px; */
   background-color: #f8f8f8;
   justify-content: center;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   padding: 50px 0;

}
#hero{
    background-color: #f8f8f8;
     padding: 50px 0; 
    text-align: center;
    color: #333;
}
.logo-two{
    margin-top: 10px;
    padding-right: 99px;
    /* display: flex; */
    width: 95%;
    height: 60%;
    display: flex;
    /* border: 1px solid red; */
}
.logo{
    margin-top: 15px;
    padding-right: 90px;
    /* display: flex; */
    width: 90%;
    height: 60%;
}
.socials :hover{
    color: red;
}
.footer{
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
}


@media (max-width:767px){
    #container{
        align-items: center;
         max-width: 100%;
         max-height: 250px;
         margin: 0 auto;
         font-size: smaller;
        
         .header{
            max-height: 130px;
           }
         
        }
    
        img{
            max-width: 100%;
            height: 170px;
            
        }
        .footer{
            max-height: 155px;
            
        }
        .socials{
            margin-bottom: -100px;
            padding-top: 40px;
        }
        section{
            width: 99%;
            height: 180px;
            justify-content: center;
        }
        .logo img{
           padding-left: 35px;
           margin-top: 34px;
           width: 33%;
           height: 130%;
           /* size-adjust: x-small; */
        }
        /*The error in this code is the P paragraph(text class) styling atttached*/
        .header h1{
           height: 170px;
          
        }
        .text-below{
            height: 300px;
            margin-top: -250px;
        }
       
    } 
   

@media (min-width:768px){
    main{
        max-height: 220px;
        font-size: 15px;
    }
    .logo{
        margin-left: 50px;
    }
    img{
        max-width: 100%;
    }
} 
